{% extends "network/layout.html" %}

{% block body %}

    <div class="row" id="page_title">
        <div class="col">
            <div class="card" style="padding-top: 5px;padding-bottom: 5px;">
                <h3 class="display-4 text-monospace text-center" style="margin-left: 15px;margin-right: 15px;"><strong>all
                    posts</strong></h3>
                {% if user.is_authenticated %}
                    {% include 'network/new_post.html' %}
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'network/posts.html' %}
    {% load static %}
    <script src="{% static 'network/edit.js' %}"></script>

{% endblock %}